#page-title {
  text-align: center;
  color: #ff9900;
  font-size: 50px;
  font-family: "marker felt";
}

#otherpagetitle {
  text-align: center;
  color: #ff9900;
  font-size: 30px;
  font-family: "marker felt";
}

.myimages {
  width: 100%;
  height: 100%;
}

#picture-css {
  width: 100%;
  margin: 0 auto;

  background-image: url(../images/mustang1.jpeg);
}

#body1 {
  background-color: black;
  height: 100%;
}

#title1 {
  color: orange;
}

.left {
  width: 600px;
  height: 400px;
  margin-left: 70px;
  padding: 5px;
  background: #ff9900;
  float: left;
  margin-top: 30px;
}

.right {
  width: 600px;
  height: 400px;
  margin-right: 70px;
  padding: 5px;
  background: #ff9900;
  float: right;
  margin-top: 30px;
}

#review {
  text-align: center;
}

#reviewtitle {
  color: #ff9900;
  font-family: "marker felt";
  text-align: center;
}

#header {
  color: #ff9900;
  clear: both;
  text-align: center;
}

#openbox {

width: 1000px;
height: 100;
background: black;
margin-left: auto;
margin-right: auto;



}
